.newPost {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.newPost h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--dark-grey);
}

.newPost label {
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  color: var(--dark-grey);
}

.newPost input,
.newPost textarea {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: var(--gris-claro);
  width: 100%;
  margin-bottom: 1rem;
}

.newPost button[type="submit"] {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--verde-claro);
  color: var(--blanco);
}

.newPost button[type="submit"]:hover {
  background-color: var(--blanco);
  color: var(--verde-claro);
}
